<h1><%= @restaurant.name %></h1>
<h5><em><%= @restaurant.category.capitalize %></em></h5>
<br>
<ul>
  <li><%= "Address: #{@restaurant.address}" %></li>
  <li><%= "Phone: #{@restaurant.phone_number}" %></li>
</ul>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= "#{review.rating} | #{review.content}" %></li>
  <% end %>
</ul>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
